<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="configuration">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_CHARSET" value="utf8" force="true" />
    </php>
</phpunit>
